:root {
  --topbar-height: 60px;
  --topbar-bg: #ffffff;
  --topbar-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --primary-color: #4e73df;
  --text-color: #5a5c69;
  --light-gray: #d1d3e2;
  --alert-color: #e74a3b;
}
body {
  font-family: 'Nunito', sans-serif;
}

.bg-gradient-primary {
  background: linear-gradient(135deg, #4e73df 0%, #224abe 100%);
}

.row-with-responsible {
  background-color: #e6f7ff !important;
}